@model CreateProjectViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project</h4>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="ProjectCode" class="control-label"></label>
        <input asp-for="ProjectCode" class="form-control"/>
        <span asp-validation-for="ProjectCode" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control"/>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="StartDate" class="control-label"></label>
        <input asp-for="StartDate" class="form-control"/>
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="ExpectedEndDate" class="control-label"></label>
        <input asp-for="ExpectedEndDate" class="form-control"/>
        <span asp-validation-for="ExpectedEndDate" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Priority" class="control-label"></label>
        <select asp-for="Priority" class="form-select" asp-items="Html.GetEnumSelectList<ProjectPriority>()">
            <option value="">Sélectionner une priorité</option>
        </select>
        <span asp-validation-for="Priority" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Budget" class="control-label"></label>
        <input asp-for="Budget" class="form-control"/>
        <span asp-validation-for="Budget" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
</form>