@model ProjectFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Project</h4>

<form asp-action="Edit">
    <div class="form-group">
        <partial name="_ProjectForm" model="Model" />
        <input type="submit" value="Sauver" class="btn btn-primary"/>
    </div>
</form>