@model ProjectIndexViewModel

@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1 class="display-4">Projects</h1>
    <a class="text-dark" asp-area="" asp-controller="Projects" asp-action="Create">Create Project</a>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Deadline)
            </th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Projects)
            {
                <tr>
                    <td>
                        <strong-text text="@item.Name"></strong-text>
                    </td>
                    <td>
                        @Html.DateFormat(item.Deadline)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

